.body-char{
    background-image: url(../assets/bg-2.jpeg);
    background-repeat: repeat-y;
    background-color: black;
    z-index: 1;
}

.title-char{
    margin-top: 4rem;
    font-family: $font-stars;
    color: white;
    font-size: 36px;
    text-align: center;
}

.info-char{
    // border: 1px solid white;
    display: flex;
    z-index: 2;
    .info-1{
        width: 35%;
        // border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;


        .h2-info{
            font-family: $font-stars;
            color: white;
            font-weight: 100;

        }
        .form-char{
            display: flex;
            flex-direction: column;
            .label-style{
                font-family: $font-stars;
                color: white;
            }
    
            .label-input{
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                width: 50%;
                height: 25px;
                padding-left: 0.4rem;
            }
    
            .label-text-area{
                width: 100%;
                height: 10rem;
                padding-left: 0.4rem;
            }

            
        }
        
    }

    .char-pic{
        // border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        
        .img-char-container{
            height: 350px;
            width: 350px;
            border: 2px solid red;
        }
    }

    .more-char{
        padding: 0.5rem;
        width: 100%;
        z-index: 2;
        .from{
            font-family: $font-stars;
            color: white;
            text-align: center;
        }
        .planets{
            .label-style{
                font-family: $font-stars;
                color: white;
            }
        }
        .trait{
            font-family: $font-stars;
            color: white;
            text-align: center;
            margin-top: 3rem;
        }
    }
}

.skills{
    z-index: 2;
    // border: 1px solid yellow;
    margin-top: 3rem;
    background-image: url(../assets/bg-2.jpeg);
    padding: 1rem;
    .skills-tittle{
        color: white;
        font-family: $font-stars;
        text-align: center;
        font-size: 36px;
    }

    .skill-card{
        margin: 0.4rem;
        color: white;
        font-family: $font-stars;
        display: flex;
        justify-content: center;
        z-index: 2;

        .skill-name{
            width: 90%;
        }
        
    }
}

