.body-control-panel{

    background-image: url(../assets/bg-control-panel.jpg);
    background-size: cover;
}

.main-window{
    height: 38.2rem;
    padding: 1rem;

    .planet-title{
        border: 1px solid white;
        height: 50px;
        
    
    }
}