.footer{
    
    .nav-bar{
        display: flex;
        justify-content: center;

        .nav-item{
            color: white;
            
            .nav-item-icon{

                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 3px solid white;
                padding-top: 0.5rem;
                transition: 0.3s;

                &:hover{

                    transform: translateY(-25px);
                }
            }

            
        }
    }
}

.footer-2{
    width: 100%;
    z-index: 999;
    padding: 2rem;
    .nav-bar{
        display: flex;
        justify-content: center;

        
        .nav-item{
            color: white;
            
            .nav-item-icon{
                
                height: 60px;
                width: 60px;
                border-radius: 50%;
                border: 3px solid white;
                padding-top: 0.5rem;
                transition: 0.3s;
                margin: 0.4rem;

                &:hover{

                    transform: translateY(-25px);
                }
            }

            
        }
    }
}